html, input, select, button {
    font: 11px verdana;
}

#MobileMenu {
    background-color: gold;
    width: 200px;
    height: 100%;
}


.submenu {    
    background-color: silver;
}


.submenu li, .submenu ul {    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.submenu li a {
    display: block;
    padding: 5px;
    margin: 0px;
}

#wrapper {
        
        overflow: hidden;
        /*justify-content: space-between;
        align-items: stretch;
        align-content: stretch;*/
        border: 1px solid #000;
        width: 400px;
    }
#MenuPusher {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s
}
#MenuPusher.open {
    transform: translate3d(80%, 0px, 0px);
}

#MenuPusher.open #MobileMenu{   
    display: block; 
}
    #contentInner {
        width: 100%;
        position: relative;
    }

    #MobileMenu {
        font-size: 100%;
        width: 80%;
        background-color: #E91D49;
        margin-left: -80%;
        font-family: 'source_sans_pro_blackregular', Arial, Helvetica, sans-serif;
        /*display: none;*/
    }
    /*#MobileMenu.open {
        margin-left: 0;
        display: block;
    }*/